@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<hgroup>
    <h1>Error</h1>
    <h2>Current site doesn`t have sitemap</h2>
</hgroup>
</body>
</html>

