@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title application</h2>

<p>This app is designed to measure website performance by sending requests to it`s URLs<br> 
and measuring time of responce.<br>
It is possible to see results on line graph or on table<p><br>

<h4>Good Luck!!!</h4>
