@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Daniil Tymofieiev</strong><br>
    City: Kharkov<br>
    Phone: 8-800-555-35-35<br>
    Email: dantin241@gmail.com<br>
</address>