@model UkadTask.Models.URLInfoViewModel

@{
    ViewBag.Title = "Speed Test";
}

@using (Html.BeginForm("SpeedTest", "Home", FormMethod.Get))
{
    <br>
    <h4>Enter URL to run test:</h4>
    @Html.TextBoxFor(x => x.SourceUrl)
    <input type="submit" value="Submit">
    <p>Example of URL: www.abcdef.com.ua</p>
}

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

@if (Model?.URLInfo != null)
{
    <table>
        <tr>
            <td>URL</td>
            <td>Time</td>
        </tr>
        @{var sortedList = from r in Model.URLInfo
              orderby r.ElapsedTime descending
              select r;}
        @foreach (var a in sortedList)
        {
            <tr>
                <td>@a.Url</td>
                <td>@a.ElapsedTime</td>
            </tr>
        }
    </table>
}

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Speed Test Diagram"
            },
            axisY:{
                includeZero: false
            },
            data: [{
                type: "line",
                dataPoints: [
                    @foreach (var a in Model.URLInfo)
                    {
                        @("{ y:" + a.ElapsedTime + " },");
                    }
                ]
            }]
        });
        chart.render();

    }
</script>

