@model UkadTask.Models.URLInfoViewModel

@{
    //Layout = null;
    ViewBag.Title = "View";
}

@using (Html.BeginForm("Get", "Diagnostics", FormMethod.Get))
{
    <br>
    @Html.TextBoxFor(x => x.SourceUrl)
    <input type="submit" value="Submit">
}

@if (Model?.URLInfo != null)
{
    <h2>URLs</h2>
    <table>
        @foreach (var a in Model.URLInfo)
        {
            <tr>
                <td>@a.Url</td><td>@a.ElapsedTime</td>
            </tr>
        }
    </table>
}

@*<!DOCTYPE HTML>
<html>
<head>  
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "Simple Line Chart"
                },
                axisY:{
                    includeZero: false
                },
                data: [{        
                    type: "line",       
                    dataPoints: [
                        { y: 100, indexLabel: "lowest", markerColor: "DarkSlateGrey", markerType: "cross" },
                        { y: 414},
                        { y: 520, indexLabel: "highest",markerColor: "red", markerType: "triangle" },
                        { y: 460 },
                        { y: 450 },
                        { y: 500 },
                        { y: 480 },
                        { y: 480 },
                        { y: 410 },
                        { y: 500 },
                        { y: 480 },
                        { y: 510 }
                    ]
                }]
            });
            chart.render();

        }
    </script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>*@